In [1]:
import pandas as pd   # tables,file read database related-file memory load

In [2]:
dataset=pd.read_csv("Salary_Data.csv") # dataset variables as csv file is stored pandas to read as dataset

In [3]:
independent=dataset[["YearsExperience"]] # input 'X' as independent variable ,years of Experience,
                                         # data type float y=mx+c, m is weight,c=bias
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [4]:
dependent=dataset[["Salary"]] # output variable'Y' depentent
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [5]:
from sklearn.model_selection  import train_test_split # split step -split as trainset testset separate
X_train, X_test, Y_train, Y_test = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [6]:
#model creation step from sKlearn libraries,_ means space
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [7]:
weight=regressor.coef_ #particular method for weight calculation
weight

array([[9360.26128619]])

In [8]:
bais=regressor.intercept_ #bais calculation that means origin,in y=mx+c,x=0,get bais,y=c
bais

array([26777.3913412])

In [9]:
Y_Pred=regressor.predict(X_test) #Evaluation step, Application is working or not

In [10]:
from sklearn.metrics import r2_score  #get 'r 'score value from this to cross check whether the model is good or bad,
                                        if r_score nearby 1 model is good
r_score=r2_score(Y_test,Y_Pred)            r_core nearby 0 model is bad.

In [11]:
r_score        #from r-score model is good

0.9740993407213511

In [12]:
import pickle                     #pickle is another libraries to save good model
filename="finalized_model_Linear.sav"

In [13]:
pickle.dump(regressor, open(filename,'wb'))

In [14]:
import pickle

In [15]:
loaded_model=pickle.load(open("finalized_model_Linear.sav",'rb')) # this step is prediction step
result=loaded_model.predict([[13]])

C:\Users\user\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [16]:
result

array([[148460.78806172]])