In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,dtype=float,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400       0.0         1.0
1      18  33.770         1   1725.55230       1.0         0.0
2      28  33.000         3   4449.46200       1.0         0.0
3      33  22.705         0  21984.47061       1.0         0.0
4      32  28.880         0   3866.85520       1.0         0.0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830       1.0         0.0
1334   18  31.920         0   2205.98080       0.0         0.0
1335   18  36.850         0   1629.83350       0.0         0.0
1336   21  25.800         0   2007.94500       0.0         0.0
1337   61  29.070         0  29141.36030       0.0         1.0

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0       0.0         1.0
1      18  33.770         1       1.0         0.0
2      28  33.000         3       1.0         0.0
3      33  22.705         0       1.0         0.0
4      32  28.880         0       1.0         0.0
...   ...     ...       ...       ...         ...
1333   50  30.970         3       1.0         0.0
1334   18  31.920         0       0.0         0.0
1335   18  36.850         0       0.0         0.0
1336   21  25.800         0       0.0         0.0
1337   61  29.070         0       0.0         1.0

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [13]:
from numpy import mean

In [14]:
from numpy import std

In [15]:
from sklearn.datasets import make_regression

In [16]:
from sklearn.ensemble import GradientBoostingRegressor

In [17]:
from sklearn.model_selection import cross_val_score

In [18]:
from sklearn.model_selection import RepeatedKFold

In [19]:
from matplotlib import pyplot

In [20]:
X,Y=make_regression(n_samples=1000,n_features=10,n_informative=5, random_state=1)
print(X.shape, Y.shape)

(1000, 10) (1000,)

In [21]:
model = GradientBoostingRegressor()

In [22]:
cv=RepeatedKFold(n_splits=10,n_repeats=3,random_state=1)

In [23]:
n_scores=cross_val_score(model,X,Y,scoring='neg_mean_absolute_error',cv=cv,n_jobs=-1,error_score='raise')

In [24]:
print('MAE:%.3f(%.3f)'%(mean(n_scores),std(n_scores)))

MAE:-11.854(1.126)

In [25]:
model = GradientBoostingRegressor()

In [26]:
model.fit(X,Y)

GradientBoostingRegressor()

In [27]:
from matplotlib import pyplot

In [28]:
row=[[ 1334, 18, 31.920, 0, 0.0, 0.0 ]]

In [29]:
yhat = model.predict(row)

ValueError: X has 6 features, but GradientBoostingRegressor is expecting 10 features as input.

print('prediction:%.3f'%yhat[0])